@model BackgroundSetting
<div class="modal-header">
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <h3>选择背景</h3>
</div>
<div class="modal-body">
    <ul class="thumbnails">
        @foreach (var bg in Enumerable.Reverse(Model.Backgrounds))
        {
            <li class="span4">
                <a class="thumbnail" data-name="@bg.Name">
                    <div class="bg-preview" style="background-image:url(//static.gmgard.com/@bg.BannerUrl1024)" />
                </a>
            </li>
        }
        <li class="span4">
            <a class="thumbnail" data-name="old">
                <div class="bg-preview" style="background-image:url(//static.gmgard.com/Images/banner.jpg)" />
            </a>
        </li>
    </ul>
</div>