.wheel-center {
    position: absolute;
    left: calc(50% - 28px);
    top: 172px;
}
    .wheel-center::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 25px solid #f44336;
        top: -20px;
        left: calc(50% - 10px);
    }

    .wheel-center button[disabled] {
        background-color: #f44336;
    }

.wheel-wrapper {
    text-align: center;
    background-image: url(/assets/turntable-bg.jpg);
    background-size: 430px;
    background-repeat: no-repeat;
    background-position: calc(50% - 11px) 11px;
    position: relative;
    min-width: 372px;
    height: 400px;
}

.prize-img {
    max-width: 200px;
    border: 5px white solid;
    border-radius: 5px;
    width: 100%;
}

.add-gap a+a {
    margin-left: 10px;
}
