.wheel-center {
    position: absolute;
    left: calc(50% - 28px);
    top: 224px;
}
    .wheel-center::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 25px solid #f44336;
        top: -20px;
        left: calc(50% - 10px);
    }

    .wheel-center button[disabled] {
        background-color: #f44336;
    }

.wheel-wrapper {
    text-align: center;
    background-image: url(/assets/turntable-bg.jpg);
    background-size: 430px;
    background-repeat: no-repeat;
    background-position: calc(50% - 11px) 11px;
}

.progress-wrapper {
    position:relative;
    margin:auto;
    width: 100px;
    border: 1px solid red;
    border-radius: 50%;
}
.progress-wrapper>button {
    position: absolute;
    top: 22px;
    left: 22px;
}
