<h1 mat-dialog-title *ngIf="!isEmpty">
    恭喜获得{{data.prize.prizeName}}！
</h1>
<h1 mat-dialog-title *ngIf="isEmpty">
    再接再厉！
</h1>
<p style="text-align:center">
    <a *ngIf="data.prize.isRealItem || data.prize.isCoupon; else imgBlock" [href]="data.prize.itemLink" rel="noopener" target="_blank">
        <img style="width: 100%" [src]="data.prize.prizePic" [alt]="data.prize.prizeName">
    </a>
    <ng-template #imgBlock>
        <img style="width: 100%" [src]="data.prize.prizePic" [alt]="data.prize.prizeName">
    </ng-template>
</p>
<div *ngIf="data.prize.isRealItem && !isSoldOut && !isAutoExchange">
    <p>
        奖券代码：<span>{{data.voucher.voucherID}}</span>
        <button (click)="copyVoucher()" mat-icon-button title="复制"><mat-icon>content_copy</mat-icon></button>
    </p>
    <p><a [href]="data.prize.itemLink" rel="noopener" target="_blank">前往店铺</a>兑换奖品，或稍后在奖券一览中兑换{{data.prize.prizeLPValue}}幸运积分！</p>
</div>
<div *ngIf="data.prize.isCoupon">
    <p>
        奖券代码：<span>{{data.voucher.voucherID}}</span>
        <button (click)="copyVoucher()" mat-icon-button title="复制"><mat-icon>content_copy</mat-icon></button>
    </p>
    <p><a [href]="data.prize.itemLink" rel="noopener" target="_blank">前往店铺</a>使用优惠券！</p>
</div>
<div *ngIf="isSoldOut">
    <p><mat-icon>error</mat-icon>当前的奖品库存已领完，奖券已自动兑换为{{data.prize.prizeLPValue}}幸运积分。</p>
</div>
<div *ngIf="isAutoExchange">
    <p><mat-icon>error</mat-icon>您已获得过此奖品的奖券。为保证更多的人能中奖，奖券已自动兑换为{{data.prize.prizeLPValue}}幸运积分。</p>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close="">返回</button>
    <button mat-raised-button color="primary" mat-dialog-close="" *ngIf="!isEmpty"
            routerLink="/wheel/vouchers">
        奖券一览
    </button>
</div>
