.unread {
    font-weight: bolder;
}

.msg-title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
}

.white {
    background-color: white;
    border-radius: 4px;
}

.inbox-bar {
    padding: 1em 24px;
}

.test-height {
    transition: height 0.25s;
    height: var(--calc-height);
}
