<mat-card>
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <ng-container *ngIf="title">
        <h1>{{title}}</h1>
        <img mat-card-image [src]="img" alt="飞机杯" />
        <div *ngIf="isActive; else elseBlock">
            <ul>
                <li>活动时间：{{startTime | date:'short'}} —— {{endTime | date:'short'}}</li>
                <li>彩券价格：{{ cost }}</li>
                <li>当前棒棒糖： {{ points }}</li>
                <li>一个账号限购一次</li>
            </ul>
            <div style="text-align:center">
                <button *ngIf="!hasRaffle" mat-raised-button color="primary" (click)="buy()" [disabled]="loading || points < cost">购买彩券</button>
                <button *ngIf="hasRaffle" mat-raised-button disabled>已购买</button>
            </div>
        </div>
        <ng-template #elseBlock>
            {{endMsg}}
        </ng-template>
    </ng-container>
</mat-card>
