#smchuncai
{
	opacity: 0.85;
	width: 160px;
	height: 160px;
	position: fixed;
	top: 400px;
	left: 800px;
	font-size: 12px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

#chuncaiface
{
	width: 160px;
	height: 160px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
}
/*#chuncaimenu {width:46px;line-height:16px;float:left;font-size:12px;cursor:pointer;background-color:#666;color:#FFF;text-align:center;}*/
#showchuncaimenu
{
	float: left;
	text-align: left;
	width: 100%;
	overflow: hidden;
	display: none;
}
#tempsaying ul
{
	margin: 1px 0px 0px 0px;
	padding: 0px 0px 0px 5px;
	float: left;
	width: 100%;
	line-height: 16px;
	cursor: pointer;
	overflow: hidden;
}

.wcc_mlist, .eatfood
{
	text-align: center;
	width: 47%;
	float: left;
	line-height: 16px;
	margin: 0;
	padding: 0px 0px 4px 0px;
	cursor: pointer;
	overflow: hidden;
}

#tempsaying ul
{
	width: 96%;
}

#callchuncai
{
	position: fixed;
	right: 0;
	bottom: 0;
	text-align: center;
	width: 60px;
	line-height: 16px;
	cursor: pointer;
	display: none;
	font-size: 12px;
	border: 1px solid #e87a73;
	background-color: #FFF;
    z-index: 100;
}

#dialog_chat
{
	position: absolute;
	top: 0px;
	left: -210px;
	width: 200px;
	line-height: 23px;
	text-align: left;
}

#dialog_chat_loading
{
	width: 200px;
	height: 30px;
	background: url("//static.gmgard.com/Images/ccloading.gif") no-repeat center center;
	display: none;
}

/*#chat_top
{
	float: left;
	width: 200px;
	height: 5px;
	overflow: hidden;
	background: url("/images/chat_top.gif") no-repeat;
}*/

#dialog_chat_contents, #chuncaisaying, #getmenu, #tempsaying
{
	float: left;
	margin: 0;
	padding-left: 0px;
	width: 198px;
	line-height: 23px;
	background-color: #ffffee;
}
#dialog_chat_contents
{
	margin:1px;
}

#getmenu, #tempsaying, #chuncaisaying
{
	padding: 0px 0px 0px 2px;
	width: 196px;
}


.rectangle-speech-border
{
	width: 200px;
	position: relative;
	padding: 5px 0;
	border: 2px solid #5bc0de;
	text-align: center;
	color: #333;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 20px;
	border-radius: 10px;
}

	.rectangle-speech-border:before
	{
		content: "";
		position: absolute;
		z-index: 10;
		bottom: -12px;
		right: 18px;
		width: 20px;
		height: 10px;
		border-style: solid;
		border-width: 0 2px 2px 0;
		border-color: #5bc0de;
		background: -webkit-linear-gradient(-4deg,transparent 8px, white 0px);
		background: -moz-linear-gradient(108deg,transparent 8px, white 0px);
		background: -o-linear-gradient(108deg,transparent 8px, white 0px);
		background: linear-gradient(108deg,transparent 8px, white 0px);
		-webkit-border-bottom-right-radius: 80px 50px;
		-moz-border-radius-bottomright: 80px 50px;
		border-bottom-right-radius: 80px 50px;
		display: block;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}

	.rectangle-speech-border:after
	{
		content: "";
		position: absolute;
		z-index: 10;
		bottom: -12px;
		right: 17px;
		width: 8px;
		height: 10px;
		border-style: solid;
		border-width: 0 2px 2px 0;
		border-color: #5bc0de;
		background: transparent;
		-webkit-border-bottom-right-radius: 40px 50px;
		-moz-border-radius-bottomright: 40px 50px;
		border-bottom-right-radius: 40px 50px;
		display: block;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}

	.rectangle-speech-border > :first-child:after
	{
		content: "";
		position: absolute;
		bottom: -3px;
		right: 26px;
		width: 12px;
		height: 4px;
		background: #FFFFFF;
	}

#tempsaying, #hiddenfaces
{
	display: none;
}

#getmenu
{
	width: 90%;
	height: 16px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	text-align:right;
}
#addinput
{
	width: 215px;
	height: 25px;
	position: absolute;
	top: 150px;
	left: -210px;
	border: 1px solid #888;
	background-color: #FFF;
	padding-top: 2px;
	overflow: hidden;
	display: none;
}

#inp_l
{
	float: left;
	height: 25px;
}

#inp_r
{
	float: right;
	width: 20px;
	height: 25px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}

#talk
{
	border: none;
	float: left;
	width: 180px;
	height: 25px;
}
/*#talkto {float:left;border:none;width:30px;height:16px;background:url("/images/ok.jpg");cursor:pointer;}*/
#flamecanvas {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 20;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}