#body #main {
    padding: 0 10px 20px 0;
}
.max-width {
    max-width: 1500px;
}
.totop-wrapper {
    width:1500px;
}
.totop {
    margin-left: 1300px;
}
.totop-wrapper.active .totop
{
	margin-left: 1500px;
}

@media screen and (max-width: 1800px)
{
    .max-width {
        max-width: 85%;
    }
    .totop-wrapper {
        width:85%;
    }
    .totop {
        margin-left: 68%;
    }
    .totop-wrapper.active .totop
    {
	    margin-left: 85%;
    }
}
@media screen and (max-width: 1200px)
{
    .max-width {
        max-width: 1000px;
    }
}

.column {
    float: left;
    vertical-align: top;
    position: relative;
    list-style: none;
    margin: auto;
}
    .column + .column {
        margin-left: 20px;
    }
    .column.span5 {
        width: 360px;
    }
.full-width .column.span5 {
    width: 100%;
}
.full-width .feed-user {
    margin: 15px 1% 0 1%;
}
.full-width .feed-item {
    margin: 15px 1% 0 1%;
    width: 98%;
}
.main-content {
    width: 380px;
    margin: auto;
    max-width: 1200px;
}
.feed-user .userinfo {
    display: block;
    border: 1px solid #bebec4;
    border-radius:1em;
    color: #666;
    min-height: 115px;
    font-size: 12px;
    padding: 5px;
    margin: 15px auto 0 auto;
    width: 90%;
    box-shadow: 2px 2px 7px rgba(50, 50, 50, 0.5) inset;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(color=#cacaca,direction=180,strength=3)'
}
@media screen and (max-width: 1616px)
{
    .feed-user {
        width: auto;
    }
}
    
.label-rating {
    background-color:#B94A48
}

.icon-fix {
    margin-top:0px;
}
