html {
    background-image: url(/Images/bg.jpg);
    min-width: 720px;
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;
    -ms-word-break: break-all;
    word-break: break-all;
    background-position: center 0px;
}

@media screen and (max-width: 1920px) {
    html {
        background-size: auto;
    }
}

html.bg5, html.bg9 {
    background-color: black;
}

html.bg12 {
    background-color: #366994;
}

html.bg17 {
    background-color: rgb(239, 236, 245);
}

body {
    margin: 0 auto;
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    background-position: 50% 0;
}

    body.bg13 {
        background-position: center -8px;
    }

    body.bg19 {
        background-position: center -60px;
    }

@media screen and (max-width: 1000px) {
    body.bg2 {
        background-position: left top;
    }

    html.bg25, html.bg28 {
        background-position: right -100px;
    }
}

.fixed-bg {
    background-attachment: fixed;
}

a {
    cursor: pointer;
}

.bg-modal {
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
    background: white;
    left: 100px;
    right: 100px;
    top: 120px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
}

    .bg-modal .modal-body {
        overflow: auto;
        max-height: 600px;
    }

@media screen and (max-width: 1000px) {
    .bg-modal {
        left: 0;
        right: 0;
    }
}

.bg-preview {
    height: 200px;
    background-size: cover;
    background-position: top center;
}

.bodybtn {
    position: absolute;
    margin-top: 25px;
    z-index: 1;
    -webkit-transition: margin linear .5s;
    transition: margin linear .5s;
}

    .bodybtn.active {
        margin-top: 10px;
    }

.pnav {
    display: inline-block;
    position: relative !important;
    float: right;
    text-decoration: none;
    margin-bottom: 0px;
}

    .pnav a {
        color: #ffffff;
        text-shadow: 2px 0 2px #000, -2px 0 2px #000, 0 2px 2px #000, 0 -2px 2px #000;
        font-family: 'Microsoft YaHei';
    }

    .pnav .dropdown-menu a, .catenavn .dropdown-menu a {
        text-shadow: none;
        padding-left: 6px;
        padding-right: 6px;
    }

.categories {
    text-align: center;
    background: linear-gradient(#ccc,white);
    border-bottom: 2px solid rgb(172, 172, 172);
    max-height: 38px;
    position: relative;
}

.catenav {
    display: inline-block;
    margin-bottom: 0;
}

    .catenav li {
        position: relative;
    }

    .catenav .subcatnav {
        min-width: 60px;
    }

    .catenav > li > .subcatnav {
        top: 90%;
        left: -20%;
    }

.signdiv {
    text-align: center;
}

    .signdiv .btn {
        font-weight: bold;
        text-shadow: 2px 0px 2px #000;
    }

#punchin-modal iframe {
    width: 100%;
    height: 540px;
    border: none;
    border-radius: 5px;
}

#flinkdiv img {
    max-height: 45px;
    width: 150px;
    margin: 5px 0px;
}

#donatediv {
    margin: 10px 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h5, h6 {
    font-size: 0.75em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

hr {
    margin: 0;
}

ruby > rt {
    font-size: 80%;
}

.small {
    font-size: 12px;
    font-weight: normal;
}

/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.max-width {
    max-width: 1000px
}

#body {
    position: relative;
    z-index: 3;
    background-color: #efeeef;
    clear: both;
    height: 100%;
    margin: 0 auto;
    min-height: 600px;
    -webkit-box-shadow: 0px 5px 30px rgba(50, 50, 50, 1);
    box-shadow: 0px 5px 30px rgba(50, 50, 50, 1);
}

.sidebar {
    width: 220px;
    display: table-cell;
    vertical-align: top;
    padding: 0 0 20px 3px;
}

.sidebarbu {
    text-decoration: none;
    margin-left: 5px;
    font-size: 30px;
}

.sidebar-ad {
    position: relative;
}

    .sidebar-ad a:not(:first-of-type) {
        position: absolute;
        left: 0
    }

#body #main {
    padding: 0 10px 20px 5px;
    display: table-cell;
    width: 100%;
    max-width: 750px;
}

.totop-wrapper {
    position: relative;
    width: 1000px;
    margin: auto;
    visibility: visible;
    -webkit-transition: visibility ease .5s;
    transition: visibility ease .5s;
}

    .totop-wrapper.active .totop {
        margin-left: 1000px;
    }

    .totop-wrapper.hidden {
        visibility: hidden;
    }

.totop {
    position: fixed;
    bottom: 40px;
    cursor: pointer;
    background: url(/Images/topnyaa.png);
    width: 200px;
    height: 291px;
    margin-left: 800px;
    -webkit-transition: margin ease .5s;
    transition: margin ease .5s;
}

@media screen and (max-width: 1000px) {
    .totop-wrapper {
        display: none;
    }
}

footer {
    position: relative;
    z-index: 1;
    padding-top: 35px;
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 135px;
    margin: 0 auto;
}

.home-list {
    background-color: #F7F7DE;
    padding-left: 10px;
    width: 99%;
}

.combubbles {
    display: inline-block;
    width: 110px;
    height: 80px;
    position: absolute;
    top: -40px;
    right: 5px;
}

    .combubbles span {
        display: inline-block;
        padding-top: 15px;
        color: #dedede;
        text-shadow: 2px 0px 2px #000
    }

        .combubbles span.indcomspan {
            padding-left: 10px;
            padding-top: 0;
            margin-left: 0;
        }

        .combubbles span.hundred {
            font-size: 12px;
        }

    .combubbles .ten span.indcomspan {
        padding-left: 5px;
    }

    .combubbles .hundred span.indcomspan {
        padding-left: 6px;
    }

.nohover:hover {
    text-decoration: none;
}

/*Bubble Replys*/

.hovershow {
    visibility: hidden;
}

.hover:hover .hovershow {
    visibility: visible;
}

#addreplycontent {
    width: 100%;
    visibility: hidden;
}

.post-action {
    display: inline-block;
}

    .post-action a:hover {
        text-decoration: none;
        background-color: lightgrey;
    }

.rate-label {
    float: right;
    width: 50px;
}

.replyeditor {
    border-style: groove;
    border-color: chocolate;
    border-width: medium;
    border-radius: 5px;
    padding: 5px;
    margin-top: 1.2em;
}

    .replyeditor table {
        width: 100%;
        margin-left: .25em;
    }

.replytable {
    margin-top: .75em;
}

.replyavatar {
    text-align: center;
    vertical-align: top;
}

.avatar {
    display: table-cell;
    text-align: center
}

    .avatar img {
        max-height: 150px;
        max-width: 150px;
    }

.avatar-mid {
    width: 100px;
}

    .avatar-mid img {
        max-height: 100px;
        max-width: 100px;
    }

.follow-partial {
    display: inline-block;
    margin-bottom: 5px;
}

.btn-unfollow.disabled {
    cursor: pointer;
}

.reply {
    max-height: 200px;
    overflow-y: auto;
    position: relative;
}

.bubble > .reply {
    width: 98%;
    padding-left: 10px;
    margin-right: 5px;
}

.reply-expand {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bubble > .reply-expand {
    bottom: unset;
    margin-top: -16px;
}

.expand + .reply-expand {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.expand.reply, .postreply > ul.expand, .postreply > ul.expand .reply {
    max-height: initial
}

.postreply > ul {
    list-style: none;
    margin: 0;
    border-top: 3px dashed #000;
    max-height: 400px;
    overflow: auto;
}

.postreply > ul.empty {
    border-top: none !important;
}

.postreply > ul > li {
    list-style: none;
    padding: 5px 8px;
    margin: 10px 0;
    border: 1px #a3a3a3 solid;
    border-radius: 10px;
}

    .postreply > ul > li:last-of-type {
        margin-bottom: 0;
    }

.postreply .avatar {
    float: left;
    padding-right: 10px;
}

    .postreply .avatar img {
        max-height: 50px;
        max-width: 50px;
    }

.replyact {
    float: right;
}

    .replyact .del {
        visibility: hidden;
    }

.postreply > ul > li:hover .del {
    visibility: visible;
}

.bubble {
    position: relative;
    max-width: 612px;
    min-height: 35px;
    padding: 5px;
    background: #FFFFFF;
    border: #000000 solid 3px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

    .bubble:after {
        content: "";
        position: absolute;
        top: 12px;
        left: -15px;
        border-style: solid;
        border-width: 10px 16px 10px 0;
        border-color: transparent #FFFFFF;
        display: block;
        width: 0;
        z-index: 1;
    }

    .bubble:before {
        content: "";
        position: absolute;
        top: 10px;
        left: -20px;
        border-style: solid;
        border-width: 12px 18px 12px 0;
        border-color: transparent #000000;
        display: block;
        width: 0;
        z-index: 0;
    }

.hideshow {
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: max-height, padding;
    -webkit-transition-timing-function: ease;
    transition-duration: 400ms;
    transition-property: max-height, padding;
    transition-timing-function: ease;
    max-height: 0px;
    padding: 0px;
}

.hsf:hover .hideshow {
    max-height: 80px;
    padding: 15px;
}

.lazy-content, .lazy-content-loading {
    background: url('/Images/loading.gif') no-repeat center;
    width: 100%;
    min-height: 32px;
}

.thumbs {
    max-height: 150px;
    max-width: 150px;
    min-height: 30px;
    min-width: 30px;
    border: 1px solid black;
}

.uploaddiv {
    position: relative;
}

.addiv {
    height: 220px;
    width: 100%;
    overflow: hidden;
}

    .addiv > div {
        width: 100%;
    }

    .addiv li.span2 > a {
        height: 196px;
        overflow: hidden;
    }

    .addiv .thumbnails img {
        max-height: 150px;
        max-width: 150px;
    }

    .addiv li.span2 {
        width: 20%;
    }

    .addiv .caption {
        text-align: center;
    }

.uploadtext {
    cursor: default;
}

.upinputdiv .upinput {
    margin: 0 20px 5px 5px;
    position: relative;
    border-radius: 4px;
    white-space: nowrap;
    display: inline-block;
}

.upinputdiv input[type="file"] {
    width: 280px;
}

.upinputdiv a {
    position: absolute;
    left: 285px;
}

.btfile {
    float: right;
    display: inline-block;
    background: url('/Images/upload.jpg') center no-repeat
}

    .btfile input {
        width: 68px;
        opacity: 0;
        padding: 0;
        margin: 0
    }

#dlsitepop .popover {
    width: 400px;
    max-width: 400px;
    text-align: center;
}

#dlsitepop .popover-content {
    max-height: 600px;
    overflow: auto;
}

.editthumbs {
    position: relative;
    display: inline-block;
    margin: 2px;
}

    .editthumbs a {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        z-index: 2;
        text-decoration: none;
        display: none;
        padding: 0;
    }

    .editthumbs:hover a {
        display: block;
        background-color: rgba(255,255,255,.3)
    }

    .editthumbs .del {
        bottom: 0;
        left: 1px;
    }

    .editthumbs .set {
        bottom: 0;
        left: 61px;
    }

    .editthumbs .ins {
        bottom: 0;
        left: 31px;
    }

.imgloading {
    background: url('/Images/loading.gif');
    width: 32px;
    height: 32px;
}

.author-info, .tag-info {
    display: block;
    background: #F3F3F3;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 7px rgba(50, 50, 50, .5);
}

.author-avatar > img {
    max-height: 80px;
    max-width: 80px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.5);
}

.author-desc {
    padding-left: 10px;
}

.author-sign {
    display: inline-block;
    max-width: 500px;
    border: #808080 outset 3px;
    padding: 5px;
    background: #FFF;
}

.rating {
    border: 3px solid #ccc;
}

    .rating.signout {
        display: inline-block;
    }

    .rating td a {
        text-decoration: none;
        width: 100px;
        padding-left: 10px;
        padding-right: 10px;
        color: inherit;
        -webkit-transition: padding 1s;
        transition: padding 1s;
    }

    .rating.rated a {
        cursor: initial;
    }

    .rating td a:hover {
        border: 2px solid #ccc;
        border-radius: 4px;
    }

    .rating td, .rating-cell {
        text-align: center;
        padding: 0;
        border: 1px solid #ccc;
    }

.rating-cell {
    padding: 0 10px;
}

.rating .rate1:hover {
    background: white url("/Images/rate1.jpg") no-repeat center top;
    padding-top: 80px;
}

.rating .rate2:hover {
    background: url("/Images/rate2.jpg") no-repeat;
    padding-top: 170px;
    padding-left: 38px;
    padding-right: 38px;
}

.rating .rate3:hover {
    background: white url("/Images/rate3.gif") no-repeat top center;
    padding-top: 80px;
    padding-left: 12px;
    padding-right: 12px;
}

.rating .rate4:hover {
    background: url("/Images/rate4.jpg") no-repeat;
    padding-top: 150px;
    padding-left: 55px;
    padding-right: 55px;
}

.rating .rate5:hover {
    background: url("/Images/rate5.jpg") no-repeat;
    padding-top: 147px;
    padding-left: 50px;
    padding-right: 60px;
}

.ratesuccess {
    display: inline-block;
    padding-left: 40px;
    background: url(/Images/rateok.jpg) no-repeat;
    margin-top: 1em;
    padding-bottom: 5px;
}

.ratefail {
    display: inline-block;
    color: red;
    padding-left: 25px;
    background: url(/Images/ratefail.jpg) no-repeat;
    margin-top: 1em;
    padding-bottom: 5px;
}

.checkbox input[type="checkbox"] {
    float: none !important;
}

.detaillayout {
    background-color: white;
    padding: 10px;
    margin-top: 1em;
}

.favbtn {
    position: relative;
    z-index: 50;
    transition: background .1s;
}

.pager, .ajax-pager {
    width: 100%;
    text-align: center;
}

.recommendation li {
    width: 120px;
}

.recommendation img {
    max-height: 100px;
    overflow: hidden;
}

.recommendation a {
    height: 195px;
}

.recommendation .caption {
    max-height: 70px;
    overflow: hidden;
    font-size: small;
}

/* Han Special
---------------------------------*/

.HGinfo {
    margin-top: 20px;
    height: 350px;
}

.hanlogo {
    display: inline-block;
    height: 300px;
    width: 300px;
    line-height: 300px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #c1c1c1;
    border-radius: 1em;
    overflow: hidden;
}

.hanintro {
    display: inline-block;
    margin-left: 20px;
}

    .hanintro .label {
        position: relative;
        top: -2px;
        background-color: #2d89ef;
        padding: 5px;
        margin: 0 !important;
        text-align: center;
        font-size: 9pt;
        color: #ffffff;
        line-height: 10px;
    }

.navbar .HGnav.nav {
    height: 40px;
    overflow: hidden;
}

.HGnav li a {
    border-radius: 5px;
}

.HGswitch {
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .HGswitch .btn-group {
        position: absolute;
        right: 5px;
        bottom: 6px;
    }

/* Messages
---------------------------------*/

.tabmenu {
    list-style: none;
    position: relative;
    z-index: 2;
    top: 1px;
    display: table;
    border-left: 1px solid #f5ab36;
    padding-left: 0;
    margin-bottom: 0;
}

    .tabmenu li {
        float: left;
    }

    .tabmenu li {
        background: #ffd89b;
        color: #222;
        display: block;
        padding: 6px 15px;
        text-decoration: none;
        border-right: 1px solid #f5ab36;
        border-top: 1px solid #f5ab36;
        border-right: 1px solid #f5ab36;
        margin: 0;
    }

        .tabmenu li.active {
            border-bottom: 1px solid #fff;
            color: #344385;
            background: #fff;
        }

.tabcontent {
    margin: 0 auto;
    min-height: 200px;
    background: #fff;
    border: 1px solid #c3c3c3;
    z-index: 1;
    padding: 10px;
}

.popupdiv {
    background-color: transparent;
    min-height: 350px;
    padding-bottom: 60px;
    word-wrap: break-word;
}

.pseudos {
    background-color: rgb(255,255,255);
    background: -webkit-linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255) 40px), -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0) 40px, rgba(255, 255, 255, 1) 40px), -webkit-linear-gradient(225deg, rgb(255, 255, 255), rgb(255, 255, 255) );
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 255) 40px), linear-gradient(-45deg, rgba(255, 255, 255, 0) 40px, rgba(255, 255, 255, 1) 40px), linear-gradient(225deg, rgb(255, 255, 255), rgb(255, 255, 255) );
    background-size: 50% 100%, 50% 51%, 50% 50%;
    background-position: 0 0, 100% 100%, 100% 0;
    background-repeat: no-repeat;
    border: none;
    box-shadow: initial;
}

    .pseudos:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 55px;
        height: 55px;
        box-shadow: -2px -2px 1px rgba(0,0,0,0.3), -1px -1px 1px rgba(0,0,0,0.2);
        background: -webkit-linear-gradient(135deg, transparent 50%, rgba(82, 82, 82, 0.4) 50%);
        background: linear-gradient(-45deg, transparent 50%, rgba(82, 82, 82, 0.4) 50%);
        border-radius: 6px 0px 0px 0px;
    }

.msglist-item {
    cursor: pointer;
    white-space: nowrap;
}

    .msglist-item:hover {
        background-color: silver;
    }

    .msglist-item td {
        overflow: hidden;
    }

    .msglist-item p {
        margin: 1em 0;
    }

.msgtime {
    text-align: right;
    color: #999999;
}

.msgclose {
    border: 3px solid rgb(126, 126, 126);
    border-radius: 10px;
    position: absolute;
    top: -5px;
    right: -5px;
    color: black;
    cursor: pointer;
    width: 28px;
    height: 28px;
    background: url(/Images/close.png) no-repeat;
    box-shadow: -2px 2px 4px;
}

.msgbutton {
    text-decoration: underline;
    cursor: pointer;
}

    .msgbutton:hover {
        background-color: silver;
    }

.quickview {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding: 0;
    line-height: 15px;
}

.btn-right {
    float: right;
    margin-top: -5px;
}
/* Posts
----------------------------------------------- */
.date-header {
    display: none;
    margin: 1.5em 0 .5em;
}

.post {
    margin: 0 0 30px;
}

    .post .post-title {
        border-bottom: #BFC9AE dashed 1px;
        color: #232F01;
        margin: 0;
        padding: 10px 0 5px;
    }

        .post .post-title a:hover {
            background-color: #e6e6e6;
        }

.post-featured span.label-important {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}

.post .post-title a, .post .post-title a:visited, .post .post-title strong {
    display: block;
    text-decoration: none;
    color: #232F01;
    font-weight: 400;
    font-size: 1.8em;
}

.post h3 strong, .post h3 a:hover {
    color: #232F01;
}

.post-body {
    position: relative;
    text-align: justify;
    line-height: 1.6em;
    margin: 2em 0 .5em;
}

.post-header-line-1 {
    color: #5E5E5E;
    font-size: 10px;
    line-height: 160%;
    margin: 0;
}

.post-footer {
    color: #232F01;
    font-size: 12px;
    letter-spacing: .1em;
    line-height: 160%;
    margin: 0;
}

.comment-link {
    margin-left: .6em;
}

.post img {
    background: #fff;
    border: 1px solid #ccc;
    -webkit-transition: border 0.2s linear;
    transition: border 0.2s linear;
    border-radius: 5px;
    padding: 5px;
    max-height: 350px;
    max-width: 78%;
}

.post img, table.tr-caption-container {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #CECDCD;
    border-radius: 5px;
    padding: 5px;
}

    .post img:hover {
        border: 1px solid #232F01;
    }

.cbadge {
    padding: 2px 4px !important;
    text-shadow: 2px 0px 2px #3f1919;
    position: absolute;
    top: 0px;
    right: 1px;
    opacity: 0.5;
    background-color: #FF677D;
}

.listoption {
    display: inline-block;
    float: right;
    margin: 15px 0 0;
}

    .listoption > .label {
        display: inline-block;
        margin: 5px 5px 0 5px;
        float: left;
    }

    .listoption > .btn-group {
        float: left;
    }

    .listoption .dropdown-menu {
        min-width: 86px;
        text-align: center;
    }

#blog {
    padding-bottom: 25px;
}

    #blog > h2 {
        font-size: 2em;
        font-weight: bold;
        width: 100%;
        font-family: 'Microsoft YaHei',SimSun;
    }

    #blog .uimg {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        -webkit-transition: border 0.2s linear;
        transition: border 0.2s linear;
        padding: 5px;
        max-height: 400px;
        max-width: 98%;
        display: inline;
    }

        #blog .uimg:hover {
            border: 1px solid #232F01;
        }

    #blog .marker {
        background-color: yellow;
        display: inline-block;
    }

#blogcontent {
    width: 100%;
    overflow: hidden;
    line-height: initial
}

#blog img, #HGintro img, #replydiv img {
    vertical-align: initial;
}

#Logo {
    max-height: 183px;
    max-width: 175px;
}

.rnopoint label {
    cursor: default;
}

.site-title {
    padding-top: 60px;
    padding-left: 20px;
}

/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
    position: relative;
}

.login-wrapper {
    padding-right: 10px;
    padding-top: 120px;
    margin: 0;
    height: 160px;
    -webkit-transition: inherit;
    transition: padding 1s;
}

    .login-wrapper.active {
        padding-top: 500px;
    }

#login li a {
    margin-left: 3px;
    margin-right: 0px;
    text-decoration: none;
}

#login a.username {
    color: #ffe2e2;
    background: none;
    margin-left: 0px;
    text-decoration: underline;
}

.login-wrapper > ul {
    margin: 0;
    padding-top: 130px;
}

    .login-wrapper > ul li {
        display: inline;
        list-style: none;
    }

.logusername {
    width: 100px;
    text-align: center;
    display: inline-block;
    color: #fff;
    text-shadow: 2px 0 2px #000, -2px 0 2px #000, 0 2px 2px #000, 0 -2px 2px #000;
    padding-right: 4px;
    max-height: 3.1em;
    white-space: nowrap;
    position: relative;
}

.loguseravatar {
    position: relative;
    height: 100px;
    width: 100px;
    display: inline-block;
    border-style: outset;
    border-width: 0px;
}

    .loguseravatar .imgcenter {
        vertical-align: bottom;
    }

    .loguseravatar:hover .scorediv {
        visibility: visible;
        opacity: 1;
    }

.logaddbar {
    left: 8px;
    width: 16px;
    overflow: hidden;
    transition: width ease 1s;
    -webkit-transition: width ease 1s;
    z-index: 4;
}

.baropen {
    width: 200px;
}

.logaddbar i {
    opacity: 0;
    transition: opacity ease .5s .4s;
    -webkit-transition: opacity ease .5s .4s;
}

.bardelay {
    transition: width ease 1s .1s;
    -webkit-transition: width ease 1s .1s;
}

    .bardelay i {
        transition: opacity ease .5s;
        -webkit-transition: opacity ease .5s;
    }

.baropen i {
    opacity: 1;
}

.scorediv {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 105px;
    top: 14px;
    transition: opacity 0.5s, visibility 0.5s;
}

@media screen and (max-width: 1160px) {
    .scorediv {
        left: 0;
        top: -50px;
    }
}

.expbar {
    height: 10px;
    width: 100%;
    margin-bottom: 0px;
    border: 2px ridge #ccc;
    border-radius: 5em;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.3);
}

.exp {
    display: inline-block;
    width: 100px;
    color: rgba(255, 255, 255, 0.00);
    position: absolute;
    top: -3px;
    left: 1px;
    text-shadow: none;
}

    .exp:hover {
        color: #e1e1e1;
        text-shadow: 2px 0px 2px #000000;
    }

.lvl {
    background-color: #f5ab36;
    color: #fff;
    text-shadow: 2px 0px 2px #000;
    border: 2px groove #fff;
}

.login-wrapper .lvl {
    position: absolute;
    left: -4px;
    top: 82px;
}

.loguseravatar:hover .lvtitle {
    display: initial;
}



.lolly {
    width: 90px;
    text-align: center;
    overflow: hidden;
    background-color: #f5ab36;
}

.ico-lolly {
    display: inline-block;
    vertical-align: middle;
    background: url(/Images/pointico.png) no-repeat 0px -30px;
    width: 20px;
    height: 21px;
}

.ico-shinshi {
    display: inline-block;
    vertical-align: middle;
    background: url(/Images/pointico.png) 0 0;
    width: 20px;
    height: 20px;
}

.icon-fix {
    margin-top: 0;
}

.quest {
    width: 90px;
    text-align: center;
    overflow: hidden;
}

.nav-rank {
    margin: 20px auto -1px;
}

.rankc {
    background-color: #daebf4;
    overflow: hidden;
    margin-top: 0;
}


.rankblock {
    width: 220px;
    height: 140px;
    position: relative;
    margin: 0px 0px 0px 20px;
}

    .rankblock:first-child {
        position: relative;
        z-index: 2;
        height: 138px;
    }


    .rankblock i {
        margin-top: 0px;
    }

    .rankblock a:hover, a:focus {
        text-decoration: none;
    }

    .rankblock a {
        position: relative;
        display: inline-block;
        margin: 8px 0px 8px 2px;
    }

    .rankblock hr {
        width: 220px;
        border-color: #d7d7d7;
        font-size: 0px;
    }

    .rankblock:first-child hr {
        display: none;
    }

.rthumb {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    top: -13px;
    margin-left: 5px;
}

    .rthumb > img {
        display: inline-block;
        max-height: 100px;
        max-width: 100px;
    }

.rcrown {
    width: 40px;
    height: 20px;
    background: url(/Images/rimg.png) no-repeat 0px 0px;
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 52px;
    z-index: 0;
}

.rimg {
    position: relative;
    display: inline-block;
    font-size: 60px;
    float: left;
    top: 26px;
    width: 40px;
    height: 68px;
    background-image: url(/Images/rimg.png);
    background-repeat: no-repeat;
}

    .rimg:first-child {
        top: 27px;
    }

.rimg1 {
    background-position: 0px -30px;
}

.rimg2 {
    background-position: 0px -108px;
}

.rimg3 {
    background-position: 0px -186px;
}

.rimg4 {
    background-position: 0px -264px;
}

.rimg5 {
    background-position: 0px -342px;
}


.rcaption {
    display: inline-block;
    position: relative;
    margin-left: 2px;
    top: 19px;
}

    .rcaption span {
        position: relative;
        width: 45px;
        text-align: center;
    }

    .rcaption .rscore {
        font-size: 25px;
        vertical-align: middle;
        height: 40px;
        line-height: 40px;
        margin-top: 0px;
    }

.rankflag {
    position: relative;
    margin-bottom: 90px;
}

    .rankflag::after {
        content: "";
        background: -webkit-linear-gradient(-70deg, rgba(218,235,244,1) 0%,rgba(218,235,244,1) 50%,transparent 51%,transparent 100%);
        background: linear-gradient(150deg, rgba(218,235,244,1) 0%,rgba(218,235,244,1) 50%,transparent 51%,transparent 100%);
        position: absolute;
        bottom: -67px;
        left: 0px;
        width: 50%;
        height: 67px;
    }

    .rankflag::before {
        content: "";
        background: -webkit-linear-gradient(250deg, rgba(218,235,244,1) 0%,rgba(218,235,244,1) 50%,transparent 51%,transparent 100%); /* Chrome10+,Safari5.1+ */
        background: linear-gradient(210deg, rgba(218,235,244,1) 0%,rgba(218,235,244,1) 50%,transparent 51%,transparent 100%); /* W3C */
        position: absolute;
        bottom: -67px;
        right: 0px;
        width: 50%;
        height: 67px;
    }

.img220 {
    max-width: 220px;
    max-height: 220px;
}

.draghandle {
    height: 10px !important;
    text-align: center;
    background: linear-gradient(transparent,black);
}

    .draghandle:after {
        content: "\25E2";
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: 18px;
    }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #efeeef;
    position: relative;
    border-radius: 0 0 2em 2em;
    overflow: hidden;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #2374c3));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #2374c3 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #2374c3 100%);
        color: #3e5667;
        min-height: 160px;
    }

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #fff;
    }

    .featured p {
        font-size: 1.1em;
    }

    .featured .hpbtn {
        position: absolute;
        right: 50%;
        bottom: 0;
        z-index: 500;
        opacity: .25;
    }

    .featured:hover .hpbtn {
        opacity: 1;
    }

    .featured .hpsettingbtn {
        right: 25px;
    }

.hp-slideshow {
    position: relative;
}

    .hp-slideshow .cycle-slide {
        position: absolute;
        background-size: cover;
        background-position: 50% 50%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        text-decoration: none;
    }

    .hp-slideshow .intro-slide {
        padding: 20px 40px 30px 40px;
    }


.cycle-caption {
    color: white;
    text-shadow: 0px 0px 5px #333;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px 20px;
    background-image: -webkit-gradient(rgba(10, 10, 10, 0.00) 0%, rgba(10, 10, 10, 0.80) 80%);
    background-image: -webkit-linear-gradient(rgba(10, 10, 10, 0.00) 0%, rgba(10, 10, 10, 0.80) 80%);
    background-image: linear-gradient(rgba(10, 10, 10, 0.00) 0%, rgba(10, 10, 10, 0.80) 80%);
}

.oneline {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 95%;
    overflow: hidden;
}

.hp-pager {
    margin-bottom: -10px;
    right: -50%;
    position: relative;
}

    .hp-pager span {
        font-family: arial;
        font-size: 50px;
        width: 16px;
        height: 16px;
        display: inline-block;
        color: #ddd;
        cursor: pointer;
    }

        .hp-pager span.cycle-pager-active {
            color: #000;
        }

.home-settings {
    margin: 0px 25px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 50, 0.5) 2px 2px 7px inset;
    background: #ddd;
}

    .home-settings form {
        padding: 20px 20px 0;
        margin: 0;
    }

    .home-settings label {
        font-size: 1.2em;
        font-weight: normal;
        margin-left: 4px
    }

    .home-settings .btn {
        margin-bottom: 5px;
        margin-left: 5px;
    }
/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* content */
article {
    float: left;
    width: 70%;
}

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button {
            width: auto;
        }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }

input[type="date"] {
    width: auto;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    padding-top: 10px;
    padding-left: 5px;
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/
table {
    margin-top: 0.75em;
    border: 0 none;
}

td {
    border: 0 none;
}

.qtable {
    text-align: center;
}

    .qtable tr {
        line-height: 30px;
    }

    .qtable td {
        vertical-align: middle;
        text-align: center;
        padding: 5px;
    }

        .qtable td:first-child {
            width: 60px;
            font-size: 18px;
            font-weight: bold;
        }

        .qtable td:last-child {
            width: 60px;
        }

    .qtable .lalign {
        text-align: left;
    }

.newq {
    font-size: 15px;
    line-height: 5px;
}

.ldaily {
    line-height: 12px;
}

.stats-content {
    max-height: 400px;
    overflow: auto;
    white-space: normal;
}

.posttime {
    font-size: small;
}

/*
 * Metro UI CSS
 * Copyright 2012 Sergey Pimenov
 * Licensed under the MIT License
 *
 * ListView.less
 * Version 1.0
 */
.listview {
    margin-left: 0;
    list-style: none;
    *zoom: 1;
}

    .listview li {
        margin-bottom: 10px;
        border: 4px transparent solid;
        padding-bottom: 15px;
        width: 300px;
        position: relative;
        display: block;
        height: 102px;
        *zoom: 1;
    }

        .listview li .icon {
            width: 48px;
            height: 48px;
            font-size: 40px;
            float: left;
        }

            .listview li .icon img, .imgcenter img {
                max-width: 100px;
                max-height: 100px;
            }

.imgcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    height: 100px;
}

.listview li .icon i {
    margin-top: 10px;
}

.listview li .data {
    margin-left: 55px;
    max-height: 102px;
}

    .listview li .data > h4 {
        margin: 0;
        padding: 0 0 2px 0;
        max-height: 2.3em;
        line-height: 1.3em;
        overflow: hidden;
    }

    .listview li .data > p {
        margin: 0;
        font-size: 9pt;
    }

    .listview li .data > strong {
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 100%;
        white-space: nowrap;
    }

    .listview li .data .lfoot {
        font-size: 10px;
        color: #808080;
        display: inline-block;
        white-space: nowrap;
        min-width: 45px;
    }

        .listview li .data .lfoot .ico {
            position: relative;
            margin-top: 0;
        }

    .listview li .data .static-rating.small,
    .listview li .data .progress-bar {
        margin-bottom: 3px;
    }

.listview li:hover {
    outline: 3px #ccc solid;
}

.listview li:active {
    outline: 3px #3e3e3e solid;
}

.listview li:before,
.listview li:after {
    display: table;
    content: "";
}

.listview li:after {
    clear: both;
}

.listview.image li {
    width: 95%;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
}

.listview.image.two li {
    width: 335px;
}

.listview.image.three li {
    width: 220px;
}

.listview.image.four li {
    width: 105px;
    padding: 0;
}

.listview.image.three li .data > p,
.listview.image.three li .posttime span {
    display: none;
}

.listview.image.three li .data > strong {
    font-size: 8pt;
    white-space: nowrap;
}

.listview.three li .data > h4 {
    max-height: 3.6em;
}

.listview.image li .icon {
    display: inline;
    width: 100px;
    height: 100px;
    border: 1px #ccc solid;
}

.listview.image li .data {
    margin-left: 110px;
}

    .listview.image li .data > h4 {
        margin-bottom: 4px;
    }

.listview.image li .posttime {
    color: #777;
    float: right;
    overflow: hidden;
}

.listview.image li .data > p {
    max-width: 480px;
    overflow: hidden;
    line-height: 16px;
    font-size: 10pt;
    margin-bottom: 5px;
    max-height: 32px;
}

.listview.image li .data .static-rating.small,
.listview.image li .data .progress-bar {
    margin-bottom: 10px;
}

.listview.iconic li .icon {
    width: 32px;
    height: 32px;
    border: 1px #ccc solid;
}

.listview.iconic li .data {
    margin-left: 40px;
}

.listview.fluid li {
    float: left;
    margin-right: 10px;
}

.listview li div.badge {
    position: absolute;
    left: -4px;
    top: -4px;
    background-color: #2d89ef;
    padding: 5px;
    margin: 0 !important;
    text-align: center;
    display: block;
    font-size: 9pt;
    color: #ffffff;
}

    .listview li div.badge.info {
        background-color: #2d6987;
    }

    .listview li div.badge.warning {
        background-color: #f89406;
    }

    .listview li div.badge.right {
        /*right: -4px;*/
        left: 99px;
    }

    .listview li div.badge.bottom {
        top: auto;
        bottom: -4px;
    }

.listview > li.selected {
    border: 4px #2d89ef solid;
}

    .listview > li.selected:after {
        width: 0;
        height: 0;
        border-top: 40px solid #2d89ef;
        border-left: 40px solid transparent;
        position: absolute;
        display: block;
        right: 0;
        content: "";
        top: 0;
        z-index: 1001;
    }

    .listview > li.selected:before {
        position: absolute;
        content: "\2714";
        color: #fff;
        right: 4px;
        top: 0;
        /*font-family: iconFont;*/
        z-index: 1002;
        display: block;
    }

    .listview > li.selected.warning:before {
        content: "\ff01";
    }

.listview:before,
.listview:after {
    display: table;
    content: "";
}

.listview:after {
    clear: both;
}

.listview .listlink {
    color: #000;
    display: block;
    padding: 10px 5px 15px;
}

    .listview .listlink:hover {
        text-decoration: none;
    }

.listview.fluid.img li {
    width: 350px;
    height: initial;
}

    .listview.fluid.img li .data {
        display: none;
    }

    .listview.fluid.img li .icon .img-small {
        display: none;
    }

.listview.fluid li .icon .img-large {
    display: none;
}

.listview.fluid.img li .icon .img-large {
    display: inline-block;
    max-width: 100%;
    max-height: 450px;
}

.listview.fluid.img li .icon {
    display: table;
    width: 100%;
    height: 470px;
}

.listview.img li .imgcenter {
    width: initial;
    min-height: 200px;
}

.listview.img li div.badge.right {
    right: -4px;
    left: initial;
}

@media only screen and (max-width: 998px) {
    .listview.fluid.img li {
        width: 100%;
    }

        .listview.fluid.img li .icon {
            height: initial;
            max-height: 450px;
        }
}

.listview img {
    font-size: 0;
}

/*Search Query*/
input.tagsearch {
    border-radius: 5em;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.3);
    padding-left: 25px;
    vertical-align: baseline;
    height: 20px;
    width: 100px;
}

    input.tagsearch:focus {
        box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.3), 0 0 8px rgba(82, 168, 236, 0.6);
    }

input.searchbtn {
    font-family: 'Microsoft YaHei';
    height: 30px;
}

.butnfix {
    margin-bottom: 5px;
}

.rss-icon {
    display: inline-block;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    width: 14px;
    height: 14px;
}

.weibo-icon {
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    padding-right: 1px;
    height: 13px;
}

.qq-icon {
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
}

.snowflake-icon {
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
}

.icon-rcheck, .icon-runcheck {
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.icon-rcheck {
    background-position: -2px -0px;
    width: 15px;
    height: 12px;
}

.icon-runcheck {
    background-position: -2px -14px;
    width: 15px;
    height: 12px;
}

.reatitle {
    position: relative;
    top: 2px;
}

.unprovereason {
    margin-bottom: 0;
    width: 80px;
}

.errorimg {
    border: 2px solid #ccc;
    border-radius: 1em;
    text-align: center;
    margin: 5px 0 20px;
    background: white;
}

.searchcheck input {
    margin-bottom: 3px;
}

.searchradio .radio {
    margin-bottom: 12px;
}

.scful, .rpt-msg {
    max-width: 600px;
    list-style: none;
    margin: auto;
}

.rpt-msg {
    max-height: 600px;
    overflow: auto;
}

    .rpt-msg li:not(:last-child) {
        border-bottom: 1px solid #eee;
        margin-bottom: 1em;
    }

.rpt-text {
    max-height: 200px;
    overflow: auto;
}

.count-badge {
    right: 1px;
    top: 2px;
    opacity: 1;
    min-width: 1em;
    text-align: center;
    display: none;
}

.sactive .count-badge {
    display: inline-block;
}

.filterlabel {
    width: 86px;
    text-align: center;
    white-space: initial;
    line-height: 18px;
    margin-bottom: 3px;
    border-radius: 1em;
    border: #fff solid 2px;
    box-shadow: #bbb 2px 2px 2px 1px;
    position: relative;
}

    .filterlabel.subcatelab {
        text-align: initial;
    }

.scate-1 .sactive, .scate-1.sactive, .scate-1 .sinde, .scate-1.sinde {
    background: #e63333
}

.scate-2 .sactive, .scate-2.sactive, .scate-2 .sinde, .scate-2.sinde {
    background: #2f75b5
}

.scate-3 .sactive, .scate-3.sactive, .scate-3 .sinde, .scate-3.sinde {
    background: #6600ff
}

.scate-4 .sactive, .scate-4.sactive, .scate-4 .sinde, .scate-4.sinde {
    background: #70ad47
}

.scate-5 .sactive, .scate-5.sactive, .scate-5 .sinde, .scate-5.sinde {
    background: #bf8f00
}

.scate-6 .sactive, .scate-6.sactive, .scate-6 .sinde, .scate-6.sinde {
    background: #ff92db
}

.scate-7 .sactive, .scate-7.sactive, .scate-7 .sinde, .scate-7.sinde {
    background: #663300
}

.scate-8 .sactive, .scate-8.sactive, .scate-8 .sinde, .scate-8.sinde {
    background: #33ccff
}

.scate-9 .sactive, .scate-9.sactive, .scate-9 .sinde, .scate-9.sinde {
    background: #d9e51e
}

.scall.sactive.filterlabel {
    background: #333;
}

.scall.sinde {
    background: #505050;
}

.sinde.filterlabel {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}

.spdiv {
    display: inline;
    margin-left: 0;
}

    .spdiv .sfltdiv {
        vertical-align: top;
    }

.sfltdiv {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

    .sfltdiv ul {
        list-style: none;
        margin-left: 10px;
    }

        .sfltdiv ul .filterlabel {
            width: 76px;
        }

.icon-scheck {
    display: inline-block;
    overflow: hidden;
    float: right;
    margin-top: 2px;
}

.sactive .icon-scheck {
    background-position: -2px -0px;
    width: 15px;
    height: 12px;
}

.icon-scheck {
    background-position: -2px -14px;
    width: 15px;
    height: 12px;
}

.sinde .icon-scheck {
    background-position: -2px -28px;
    width: 15px;
    height: 12px;
}

.icon-dcheck {
    border: 1px solid white;
    border-radius: 3px;
    float: right;
    margin-top: 2px;
}

.bcategorydiv {
    display: inline-block;
}

    .bcategorydiv select {
        width: 100px;
    }


.feed-item {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #bebec4;
    border-radius: 1em;
    color: #666;
    font-size: 12px;
    margin: 15px 0 0 10px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(color=#cacaca,direction=180,strength=3)';
}

.feed-header {
    margin: 10px;
    line-height: 14px;
}

    .feed-header strong {
        color: #666;
    }

.feed-body {
    padding: 0 5px;
}

.feed-footer {
    border-top: 1px solid #f3f3f3;
    background: #f7f6f9;
    font-size: 10px;
    line-height: 160%;
    padding: 5px;
    border-radius: 0 0 1em 1em;
}

.feed-body .img {
    display: inline-block;
    max-height: 600px;
    overflow: hidden;
    width: 100%;
    max-width: 475px;
}

.urul {
    margin-right: 5px;
}

    .urul a:hover {
        text-decoration: none;
    }

    .urul li {
        width: 350px;
    }

    .urul div {
        color: #aaa;
    }
/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 720px) {

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    /* footer
    ----------------------------------------------------------*/
    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
/* END: Mobile Styles */
