body {
  margin: 0;
  background-color: #efefef;
}

.mat-menu-panel {
  max-height: 60vh !important;
}

.mat-icon {
  vertical-align: middle;
}

.cdk-overlay-container .mat-dialog-container {
    max-height: 100vh;
}

.mat-checkbox > .mat-checkbox-layout {
  white-space: normal;
}

body a.cke_dialog_tab {
  min-width: 40px;
}

.card-container {
  perspective: 1000px;
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
}

  .card-container .card {
    display: none;
    top: 0;
    position: absolute;
    width: 26%;
    height: 79%;
    left: 37%;
    top: 7%
  }

.card {
  height: 400px;
  width: 235px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

  .card img {
    width: 100%;
  }

  .card .side {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 100;
  }

  .card .back {
    transform: rotateY(180deg);
    z-index: 90;
  }

@keyframes spin {
  from {
    transform: rotateY(0);
  }

  26% {
    transform: rotateY(-600deg);
  }

  80% {
    transform: rotateY(-720deg);
  }

  to {
    transform: rotateY(-720deg);
  }
}

@keyframes pop {
  50% {
    transform: scale(1.15);
  }
}

@keyframes float {
  50% {
    transform: translateY(-4px);
  }
}

@keyframes fadeIn {
  from {
    -moz-filter: brightness(10);
    -ms-filter: brightness(10);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
}

.away {
  opacity: .8;
  transform: scale(1.4) rotateY(-30deg);
}

.card-container .card.start, .card-container .card.away {
  display: block;
}

.start {
  animation-duration: 3s, 1.5s, 1.2s;
  animation-name: spin, pop, float;
  animation-iteration-count: 1, 1, 2;
  animation-delay: 0s, 3s, 4.5s;
}

.start img {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.sign-missed {
    background-color: beige;
    border-radius: 100%;
    font-weight: bolder;
}
