body {
  margin: 0;
  background-color: #efeeef;
}

.mat-menu-panel {
  max-height: 60vh !important;
}

.mat-icon {
  vertical-align: middle;
}

.cdk-overlay-container .mat-dialog-container {
    max-height: 100vh;
}

.mat-checkbox > .mat-checkbox-layout {
  white-space: normal;
}

body a.cke_dialog_tab {
  min-width: 40px;
}

.sign-missed {
    background-color: beige;
    border-radius: 100%;
    font-weight: bolder;
}
