@model LocalPasswordModel

<h3>更改密码</h3>

@if (ViewBag.Success != null)
{
    <span class="text-success">已设置您的密码</span>
}

<form asp-action="ChangePassword" asp-controller="Account" asp-antiforgery="true" data-ajax="true" data-ajax-failure="displayerror" data-ajax-mode="replace" data-ajax-update="#changepassworddiv" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <fieldset>
        <legend>“更改密码”表单</legend>
        <ol>
            <li>
                <input asp-for="OldPassword" placeholder="旧密码" style="width:95%" />
            </li>
            <li>
                <input asp-for="NewPassword" placeholder="新密码" style = "width:95%" />
            </li>
            <li>
                <input asp-for="ConfirmPassword" placeholder = "确认密码" style = "width:95%" />
            </li>
        </ol>
        <input type="submit" class="btn" value="更改密码" />
    </fieldset>
</form>