
@{
    ViewData["Title"] = "账户已被锁定";
}

<header>
    <p class="text-danger" style="text-align:center">
        <img src="~/Images/lockout.png" alt="账户已被锁定" /> <br />
        此账户已被锁定，请稍后再试。
    </p>
</header>
