@model GmGard.Models.BlogLink[]

@{int i = 0;}

<table style="width:100%">
    <thead>
        <tr><th>密码描述</th><th>密码值</th></tr>
    </thead>
<tbody id="PassBoxesGroup">
    <tr>
        <td colspan="2"><a title="增加" id="addPassButton"><i class="icon-plus-sign"></i></a><a title="减少" id="removePassButton"><i class="icon-minus-sign"></i></a><a title="清空" id="clearPassButton"><i class="icon-remove-sign"></i></a></td>
    </tr>
    @if(Model !=null && Model.Length > 0){
        for (; i < Model.Length; i++ )
        {
            <tr id="PassBoxRow@(i)">
                <td><input type="text" name="BlogPasswords[@i].name" class="input-block-level" value="@Model[i].name" /></td>
                <td><input type="text" name="BlogPasswords[@i].url" class="input-block-level" value="@Model[i].url" /></td>
            </tr>
        }

    }
    else{
    <tr>
        <td><input type="text" name="BlogPasswords[0].name" class="input-block-level" value="密码" /></td>
        <td><input type="text" name="BlogPasswords[0].url" class="input-block-level"
            @if("Create".Equals(Html.ViewContext.RouteData.Values["action"].ToString(),StringComparison.OrdinalIgnoreCase)){<text>value="gmgard.com"</text>} />
        </td>
    </tr>
    }
</tbody>
</table>

<script>
    var pcounter = 1 + @(i>0 ? i-1 : 0) ;
    function addPass(name,pass) {
        var newTextBoxRow = $(document.createElement('tr'))
                     .attr("id", 'PassBoxRow' + pcounter);
        newTextBoxRow.append('<td>' +
              '<input type="text" name="BlogPasswords[' + pcounter + '].name" value="'+name+'" >' +
              '</td><td>' +
              '<input type="text" name="BlogPasswords[' + pcounter + '].url" value="'+pass+'" ></td>'
              );
        newTextBoxRow.appendTo("#PassBoxesGroup");
        if (pcounter == 1)
            $("#removePassButton i").removeClass("icon-white");
        pcounter++;
        $('input[name^="BlogPasswords"][name$="url"]').change(autofillpass);
    }
    $(function () {
        if (pcounter == 1)
            $("#removePassButton i").addClass("icon-white");
        $('input[name^="BlogPasswords"][name$="url"]').change(autofillpass);
        $("#addPassButton").click(function () {
            addPass('','');
        });

        $("#removePassButton").click(function () {
            if (pcounter == 1) {
                return false;
            }
            pcounter--;
            $("#PassBoxRow" + pcounter).remove();
            if (pcounter == 1)
                $("#removePassButton i").addClass("icon-white");
        });
        $("#clearPassButton").click(function () {
            $("#PassBoxesGroup>tr:not(:first)").remove();
            var newTextBoxRow = $(document.createElement('tr'));
            newTextBoxRow.append('<td>' +
                  '<input type="text" name="BlogPasswords[0].name" value="" >' +
                  '</td><td>' +
                  '<input type="text" name="BlogPasswords[0].url" value="" ></td>'
                  );
            newTextBoxRow.appendTo("#PassBoxesGroup");
            if (pcounter != 1)
                $("#removePassButton i").addClass("icon-white");
            pcounter = 1;
            $('input[name^="BlogPasswords"][name$="url"]').change(autofillpass);
        });
    });
    function autofillpass() {
        var input = $(this).val();
        var name = $(this).parent().parent().find('input[name$="name"]');
        if(input && !name.val()){
            if(input.length == 4){
                name.val('提取码');
            }
        }
    }
</script>