.main-scene {
    user-select: none;
}

.bgimg {
    position: relative;
    overflow: hidden;
    margin-bottom: -100px;
}

    .bgimg > img {
        position: absolute;
        width: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

        .bgimg > img.show {
            opacity: 1
        }

.ev-avatar {
    height: 100px;
    width: 100px;
}

.dialog-container {
    z-index: 1;
    width: 800px;
    min-height: 100px;
}

.dialog-content {
    padding: 16px;
    min-height: 100px;
    border-radius: 4px;
    border: #3f51b5 solid 2px;
    background: linear-gradient(0deg,rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,.5) 100%);
}

.text-body {
    max-width: 760px;
    word-wrap: break-word;
}

.text-body.narrator {
    max-width: 550px;
}

.mat-card-title.narrator-name {
    background-image: url(/assets/文字底纹.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 90%;
    min-width: 100px;
    text-align: center;
    padding-bottom: 6px;
}

.choice-btn > span {
    white-space: normal;
}

.spark::after {
    content: "";
    background-image: url(/assets/eternal-circle/spark.gif);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 18.75%;
    right: 18.75%;
    bottom: 0;
}

.flash {
    animation: flashing linear 1s normal;
}

@keyframes flashing {
    0%, 32%, 72%, 100% {
        opacity: 1;
    }

    16%, 48%, 88% {
        opacity: .1;
    }
}

.shake {
    animation: shaking linear 1s normal;
}

@keyframes shaking {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(0px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(2deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-2deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(2px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(2px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.title {
    animation: fadein linear 1s normal;
}

    .title::after {
        content: attr(data-title);
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        bottom: 0;
        text-align: center;
        color: white;
        font-size: 70px;
    }

@media(max-width : 800px) {
    .title::after {
        font-size: 8vw;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.center-bg img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}
