<h2 mat-dialog-title style="text-align:center">画廊公告</h2>
<mat-dialog-content>
    <ul>
        <li>点击画作查看详细信息。</li>
        <li>每幅画作代表一个藏宝地点，请根据线索自行寻找。</li>
        <li>X:Y表示第X行第Y个字。</li>
        <li>参观作画请保持安静，切勿与他人交流想法。</li>
        <li>宝物不会藏在小说山岳，画集之廊，文章书院，绘画外天或者合集贩卖会之中。</li>
        <li>在某一宝物在站内同时有汉化版本和非汉化版本时，宝物藏在汉化版本中。</li>
        <li>宝物不会出现在喧哗的闹市（高于2000分的投稿）或者无人的幽谷（低于200分的投稿）中。</li>
        <li>别看漏了！在藏宝地点中的标点符号兽也是实打实的战斗力！</li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>关闭</button>
</mat-dialog-actions>
